.author {
    color: #fb6c27;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.source {
    font-size: 13px;
    font-family: sans-serif;
    color: #777;
    text-transform: uppercase;
    font-weight: 700;
}

.lienket {
    text-decoration: none;
    target: _blank;
}

.time {
    font-family: sans-serif;
    font-size: 13px;
    color: #777;
    position: relative;
    padding-left: 16px;
}

.pic {
    height: 400px;
    width: 600px;
    margin-left: 50px;
}

.textPic {
    margin-left: 50px;
    margin-top: 2px;
    background-color: LightGray;
    width: 600px
}
